.color-wheel {
    width:200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.color-option {
    position: absolute;
    bottom:0;
    margin-left:100px;
    width:300px;
    height: 100px;
    transform-origin: top left;
    cursor: pointer;
}

@mixin color-option ($color, $rotation, $index) {
    background-color: $color;
    transform: rotate($rotation);
    z-index: $index;
    &:hover {
        background-color: lighten($color, 10%);
    }
}

.color-option-1 {
    @include color-option (#0b3d65, 45deg, 10);
}

.color-option-2 {
    @include color-option (#1d5337, 90deg, 20);
}

.color-option-3 {
    @include color-option (#fbe57a, 120deg, 30);
}

.color-option-4 {
    @include color-option (#d59c40, 150deg, 40);
}

.color-option-5 {
    @include color-option (#c45625, 180deg, 50);
}

.color-option-6 {
    @include color-option (#815138, 210deg, 60);
}

.color-option-7 {
    @include color-option (#ac2c19, 240deg, 70);
}

.color-option-8 {
    @include color-option (#e074ad, 270deg, 80);
}

.color-option-9 {
    @include color-option (#f5f5f5, 300deg, 90);
}

.color-option-10 {
    @include color-option (#808080, 330deg, 100);
}

.color-option-11 {
    background-color: #333333;
    transform: rotate(0deg) skew(45deg);
    z-index: 110;
    &:hover {
        background-color: lighten(#333, 10%);
    }
}

.color-option-12 {
    background-color: #331f4f;
    transform: rotate(30deg) skew(60deg);
    z-index: 120;
    &:hover {
        background-color: lighten(#331f4f, 10%);
    }
}

// .color-option-2 {
//     border-right:60px solid transparent;
//     border-top:60px solid green;
//     border-left:60px solid transparent;
//     border-bottom:60px solid transparent;
// }

// .color-option-3 {
//     border-right:60px solid transparent;
//     border-top:60px solid transparent;
//     border-left:60px solid blue;
//     border-bottom:60px solid transparent;
// }

// .color-option-4 {
//     border-right:60px solid transparent;
//     border-top:60px solid transparent;
//     border-left:60px solid transparent;
//     border-bottom:60px solid yellow;
// }

// .color-option-5 {
//     border-right:30px solid rebeccapurple;
//     border-top:30px solid transparent;
//     border-left:30px solid transparent;
//     border-bottom:30px solid transparent;
// }