.sidebar {
  width:25%;
  text-align: center;
  height: 100vh;
  background:$white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  font-family: 'Karla', sans-serif;
}

body {
  font-family: 'Inconsolata', monospace;
}