$white: white;

@import "setup";

.main-content {
  display: flex;
  .sidebar {
    width:25%;
    height: 100vh;
    background:$white;
  }
  .gallery {
    width:75%;
    height:100vh;
    background:lightgray;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    align-self: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    overflow: scroll;
    img {
      width:20%;
      height: 32%;
      margin: 2px;
      object-fit: cover;
      // margin:10px;
      // height:25%;
    }
  }
}